<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LSLEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LSLEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <LSLEditor.Properties.Settings>
      <setting name="LSLEditor_org_lsleditor_www_Service1" serializeAs="String">
        <value>
          http://www.lsleditor.org/UploadExampleService/Service1.asmx
        </value>
      </setting>
      <setting name="Example" serializeAs="String">
        <value>
          // LSL-Editor by Alphons (Jano) van der Heijden
          default
          {
          state_entry()
          {
          llSay(0, "Hello, Avatar!");
          }
          touch_start(integer total_number)
          {
          llSay(0, "Touched: "+(string)total_number);
          }
          }
        </value>
      </setting>
      <setting name="Help" serializeAs="String">
        <value>
          http://www.lslwiki.net/lslwiki/wakka.php?wakka=
        </value>
      </setting>
      <setting name="Update" serializeAs="String">
        <value>
          http://lsleditor.sourceforge.net/check4update.php?
        </value>
      </setting>
      <setting name="Examples" serializeAs="String">
        <value>
          http://www.lsleditor.org/examples/
        </value>
      </setting>
      <setting name="Upload" serializeAs="String">
        <value>
          http://www.lsleditor.org/uploadscript/
        </value>
      </setting>
      <setting name="ConfLSL" serializeAs="String">
        <value>Resource.ConfLSL.xml</value>
      </setting>
      <setting name="ConfCSharp" serializeAs="String">
        <value>
          Resource.ConfCSharp.xml
        </value>
      </setting>
      <setting name="MaxResults" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="ExampleName" serializeAs="String">
        <value>new.lsl</value>
      </setting>
      <setting name="ReleaseNotes" serializeAs="String">
        <value>
          res://LSLEditor.exe/ReleaseNotes.htm
        </value>
      </setting>
    </LSLEditor.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <LSLEditor.Properties.Settings>
      <setting name="AvatarName" serializeAs="String">
        <value>SecondLife Name</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>2.0.1</value>
      </setting>
      <setting name="BrowserInWindow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AvatarKey" serializeAs="String">
        <value />
      </setting>
      <setting name="RegionName" serializeAs="String">
        <value>LSLEditor Island</value>
      </setting>
      <setting name="EmailServer" serializeAs="String">
        <value>smtp.emailserver.ext</value>
      </setting>
      <setting name="EmailAddress" serializeAs="String">
        <value>
          youraddress@yourdomain.ext
        </value>
      </setting>
      <setting name="ProxyServer" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyUserid" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="BrowserLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FindLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="BrowserSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="LSLEditorLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="LSLEditorSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="RegionFPS" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="SimulatorSize" serializeAs="String">
        <value>0, 100</value>
      </setting>
      <setting name="SimulatorLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="RegionCorner" serializeAs="String">
        <value>254464, 255232</value>
      </setting>
      <setting name="qasite" serializeAs="String">
        <value>
          http://metaversegames.net/questions/lsl
        </value>
      </setting>
    </LSLEditor.Properties.Settings>
  </userSettings>
</configuration>