################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/trunk/obj/Debug
/bin
/trunk/.vs/lsleditor/v15
/trunk/obj/Release
/lsl-editor-doc.xml
/trunk/lsleditor.csproj.user
